@model MyRockConcerts.Web.ViewModels.Members.MemebersListViewModel
@{
    ViewData["Title"] = "All Members";
}

<div class="container-fluid">
    <div class="text-center">
        <h1>@this.ViewData["Title"]</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Group name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Members.Count(); i++)
            {
                var member = Model.Members.ToList()[i];
                var row = i + 1;

                <tr>
                    <th scope="row">@row</th>
                    <td>@member.FullName</td>
                    <td>@member.Group.Name</td>
                    <td><a class="alert-link" asp-area="Administration" asp-controller="Members" asp-action="Edit" asp-route-id="@member.Id" title="Admin">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>



