@using System.Globalization;
@model MyRockConcerts.Web.ViewModels.Concerts.ConcertViewModel

@{
    this.ViewData["Title"] = Model.Name;
    var date = Model.Date.ToString("MMM dd, yyyy HH:mm:ss", CultureInfo.InvariantCulture);
}

<div class="container">
    <div class="text-center">
        <h1>@this.ViewData["Title"]</h1>
    </div>
    <div class="text-center">
        @if (!Model.IsInMyConcerts)
        {
            <a class="btn btn-primary btn-lg" asp-controller="Concerts" asp-action="AddToMyConcerts" asp-route-id="@Model.Id">Add to my concerts</a>
        }
        else
        {
            <a class="btn btn-primary btn-lg" asp-controller="Concerts" asp-action="RemoveFromMyConcerts" asp-route-id="@Model.Id">Remove from my concerts</a>
        }
        <a class="btn btn-primary btn-lg" href="@Model.TicketUrl">Buy tickets</a>
    </div>
    <br />
    <img src="@Model.ImgUrl" height="400" class="d-block w-100" alt="...">
    <br />
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <partial name="_TimeCountDownPartial" model="date">
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="fas fa-map-marked-alt alert-link" asp-controller="Venues" asp-action="Details" asp-route-id="@Model.VenueId"> @Model.VenueCountry, @Model.VenueCity, @Model.VenueName</a>            
        </div>
    </div>
    <br />
    <h3 class="display-5">Performers:</h3>
    <div class="row row-cols-1 row-cols-md-3">
        @if (Model.Groups.Any())
        {
            @foreach (var group in Model.Groups)
            {
                <partial name="_GroupPartial" model="group" />
            }
        }
    </div>
</div>
