@model MyRockConcerts.Web.ViewModels.Members.MemberDetailsViewModel
@{
    ViewData["Title"] = @Model.FullName;
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">@Model.FullName</h1>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <img src="@Model.ImgUrl" height="300" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 d-flex">
            <div class="row">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="text-center">
        <a asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId" class="alert-link">Back to @Model.GroupName</a>
    </div>
</div>

